.container {
  font-weight: bold;
  border-radius: 8px;
  background-color: $main;

  &__left {
    padding: 10px 32px;

    svg {
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: $main_hover;
  }

  &:disabled {
    color: $gray_scale_55;
    background-color: $gray_scale_92;
  }

  &_medium {
    padding: 11px 40px;
  }

  &_large {
    padding: 18px 40px;
  }

  &_ghost {
    background-color: transparent;
    color: #5b708f;

    &:hover {
      background: none;
    }
  }
}
