.content {
  width: 100%;

  &__back {
    display: flex;
    justify-content: flex-end;

    &__button {
      @extend %flex-center;
      background: none !important;

      &:hover {
        background: $main_border !important;
      }
    }

    svg path {
      fill: $black;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__name {
      margin: 12px 0;
      font-size: 26px;
      font-weight: 300;

      span {
        color: $white !important;
      }
    }

    &__currencies {
      @extend %flex-center;

      &__first {
        margin-right: 24px;
        font-size: 24px;
        color: $white;
      }

      &__second {
        background: $main_border;
        font-size: 22px;
        color: $white;
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
}
