.container {
  width: 100%;
  height: 100vh;
  @extend %flex-center;
  flex-direction: column;

  &__title {
    color: $white;
    font-size: 120px;
    line-height: 3;
    text-shadow: 0 0 4px $white;
    animation: glow 1.2s ease-in alternate infinite;

    @include breakpoint(tablet) {
      font-size: 60px;
    }
  }

  &__button {
    color: $white;
    font-size: 16px;
    background-color: $main_hover;
  }
}

@keyframes glow {
  from {
    text-shadow: 4px 3px 0 $white, 9px 8px 0 $alpha-black;
  }
  to {
    text-shadow: 0 3px 0 $alpha, 0 14px 10px $alpha-black,
      0 24px 2px $alpha-black-main, 0 34px 30px $alpha-black-main;
  }
}
