.container {
  position: relative;

  svg {
    vertical-align: middle;
  }

  &__actions {
    @extend %flex-justify-center;
    margin: 50px 0;

    @include breakpoint(tablet) {
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__interval {
      opacity: 0.6;
      margin-right: 8px;
      color: $white !important;

      @include breakpoint(tablet-m) {
        margin: auto;
        padding: 10px 25px;
      }

      &_active {
        opacity: 1;
      }
    }
  }
}
