// Main Colors
$white: #ffffff;
$black: #000000;
$main: #048f92;
$main_dark: #2c343a;
$main_hover: #11a3a6;
$main_border: #20bf55;
$main_light: #2c343a;
$alpha: #b2a98f;
$alpha-black: rgba(0, 0, 0, 0.15);
$alpha-black-main: rgba(0, 0, 0, 0.1);

// Secondary Colors
$secondary_blue: #2c343a;
$secondary_yellow: #ffbb36;

// Button Colors
$button_default: #3ec8c9;
$button_hover: #3ec8c9;
$button_pressed: #0b97a0;

// System Colors
$success: #189268;
$success_bg: #c7f0d3;
$error: #d63842;
$error_bg: #fdedf0;

// Gray Scale Colors
$gray_scale_12: #1a1b1e;
$gray_scale_55: #84878d;
$gray_scale_77: #bec0c4;
$gray_scale_92: #e4e6eb;
$gray_scale_97: #f5f7fa;

// Background gradients
$background-gradient: linear-gradient(
  230deg,
  #32d74b 11.69%,
  rgba(246, 45, 83, 0) 87.01%
);
$background-gradient-coin: linear-gradient(
  355deg,
  #32d74b 70%,
  rgba(246, 45, 83, 0) 106.01%
);
$background-gradient-mobile: linear-gradient(
  270deg,
  #32d74b 11.69%,
  rgba(246, 45, 83, 0) 87.01%
);
$background-gradient-image: linear-gradient(
  360deg,
  #32d74b 20%,
  rgba(246, 45, 83, 0) 70%
);
