.section {
  min-height: 100vh;
  background: $background-gradient;

  @include breakpoint(desktop) {
    background: $background-gradient-mobile;
  }

  &__coin {
    background: $background-gradient-coin;
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 40px;
    max-width: $desktop;

    @include breakpoint(desktop) {
      padding-top: 0;
    }
  }
}
