.typography {
  &__align {
    &_center {
      text-align: center;
    }

    &_justify {
      text-align: justify;
    }

    &_left {
      text-align: left;
    }

    &_right {
      text-align: right;
    }
  }

  &__text {
    &_regular {
      font-family: $primary_family;
      font-size: 16px;
      line-height: 24px;
      color: $black;
    }

    &_semibold {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: $black;
    }
    &_small {
      font-family: $primary_family;
      font-size: 12px;
      line-height: 16px;
      color: $black;
    }

    &_medium {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: $main;
    }
  }

  &__heading {
    &_extra {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: $black;
    }

    &_large {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 20px;
      line-height: 33px;
      color: $black;
    }

    &_medium {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: $black;
    }

    &_small {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $black;
    }
  }

  &__button {
    &_medium {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    &_small {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $gray_scale_55;
    }
  }

  &__link {
    &_small {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      color: $main;
    }

    &_medium {
      font-family: $primary_family;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: $main;
    }
  }
}
