// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;
$wide-l: 1440px;

//Font Families
$primary_family: 'Nunito Sans', sans-serif;
