.coins {
  @extend %flex-justify-between;
  flex-direction: column;
  margin-top: 40px;

  &__title {
    @extend %flex-between;
    top: 0;
    z-index: 9;
    padding: 13px;
    position: sticky;
    transition: 0.5s all;
    border-radius: 16px 16px 0 0;
    background-color: $main_border;
    background-image: $background-gradient-image;
    box-shadow: inset 0 0 1vmin 1vmin rgba($black, 0.2);

    @include breakpoint(desktop) {
      border-radius: 0;
    }

    span {
      color: $white;
    }

    &_sticky {
      border-radius: 0 0 16px 16px;
    }
  }
}
