.container {
  @extend %flex-center;
  color: $gray_scale_12;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid $main_border;

  @include breakpoint(desktop) {
    margin: 10px;
    border: none;
    padding: 30px;
    border-radius: 40px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: inset 0 0 4vmin 3vmin rgba($black, 0.2);
  }

  &:last-child {
    border: none;
    margin-bottom: 0;
  }

  &__coin {
    flex: 1;
    @extend %flex-center;

    @include breakpoint(desktop) {
      margin-bottom: 14px;
    }

    &:first-child {
      justify-content: flex-start;
    }

    &:nth-child(2) span {
      color: $gray_scale_12;
      font-weight: bold;
    }

    &__heading {
      margin-left: 10px;
    }
  }
}
